@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<h2 class="text-center" style="font-family:'Times New Roman', Times, serif">The current time in the server is: @Model.Time !</h2>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>


